{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Add/Edit{% endblock %}

{% block body %}

	<div class="row">
    {% call f.form_tag('budget.input') %}
		<div class="col-md-6">
    	  {% call f.form_group(form.budget_year, css_class='sm-margin-bottom',
                          autofocus='autofocus', placeholder='E.g. 2017-2018') %}
    		{% endcall %}
    		{% call f.form_group(form.username, css_class='sm-margin-bottom',
                          autofocus='autofocus', placeholder='Your username/Reference ID') %}
    		{% endcall %}
      </div>
    	
    	<div class="col-md-6">
				{% call f.form_group(form.input_type, css_class='sm-margin-bottom',
                          autofocus='autofocus') %}
    		{% endcall %}
    		{% call f.form_group(form.acct_num, css_class='sm-margin-bottom',
                          autofocus='autofocus') %}
    		{% endcall %}
    		{% call f.form_group(form.amount, css_class='sm-margin-bottom',
                            autofocus='autofocus', placeholder='E.g. 100') %}
    		{% endcall %}
			</div>
			
      <div class="col-md-12">
    		{% call f.form_group(form.description, css_class='sm-margin-bottom',
                            autofocus='autofocus',
                            placeholder='Enter description',
                            rows='12') %}
				{% endcall %}
				
				<button type="submit" class="btn btn-primary btn-block">
          Submit
				</button>
				
			</div>
			
    {% endcall %}
	</div>
{% endblock %}
