{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.users_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new user' %}
  {% set button = 'Add' %}
{% else %}
  {% set endpoint = 'admin.users_edit' %}
  {% set form_kwargs = {'id': user.id} %}
  {% set legend = 'Update this user' %}
  {% set button = 'Save' %}
{% endif %}

<div class="row">
  <div class="col-md-5 well">
    {% call f.form_tag(endpoint, **form_kwargs) %}
      <legend>{{ legend }}</legend>
      <div class="form-group">
        <label class="control-label"><strong>Registered</strong></label>
        <p class="sm-margin-bottom form-control-static">
          <time class="from-now" data-datetime="{{ user.created_on }}">
            {{ user.created_on }}
          </time>
        </p>
      </div>
      
      {% if current == 'admin' %}
        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                               autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.username, css_class='sm-margin-bottom',
                              autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.role, css_class='sm-margin-bottom') %}
        {% endcall %}
        
        {% call f.form_group(form.acct_type, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.active) %}
        {% endcall %}

        <hr/>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              {{ button }}
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('admin.users') }}"
                class="btn btn-default btn-block">
              Cancel
            </a>
          </div>
        </div>
      {% else %}
        <div class="form-group">
          <strong>Email</strong>
          <p class="sm-margin-bottom form-control-static">
            {{ user.email }}
          </p>
        </div>
        <div class="form-group">
          <strong>Username</strong>
          <p class="sm-margin-bottom form-control-static">
            {{ user.username }}
          </p>
        </div>
        <div class="form-group">
          <strong>Role</strong>
          <p class="sm-margin-bottom form-control-static">
            {{ user.role }}
          </p>
        </div>
        {% call f.form_group(form.acct_type, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.active) %}
        {% endcall %}
      {% endif %}
    {% endcall %}
  </div>
  <div class="col-md-5 col-md-push-1 col-md-offset-1">
    <h3>Login activity</h3>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt>Sign in count</dt>
          <dd class="sm-margin-bottom">{{ user.sign_in_count }}</dd>
          <dt>Current sign in date</dt>
          <dd class="sm-margin-bottom">
            {% if user.current_sign_in_on %}
              <time class="from-now"
                    data-datetime="{{ user.current_sign_in_on }}">
                {{ user.current_sign_in_on }}
              </time>
            {% endif %}
          </dd>
          <dt>Current sign in IP address</dt>
          <dd class="sm-margin-bottom">{{ user.current_sign_in_ip }}</dd>
          <dt>Previous sign in date</dt>
          <dd class="sm-margin-bottom">
            {% if user.last_sign_in_on %}
              <time class="from-now"
                    data-datetime="{{ user.last_sign_in_on }}">
                {{ user.last_sign_in_on }}
              </time>
            {% endif %}
          </dd>
          <dt>Previous sign in IP address</dt>
          <dd>{{ user.last_sign_in_ip }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-push-1 col-md-offset-1">
    <h3>Budget Activity</h3>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt>Allocated to date</dt>
          <dd class="text-success">
            ${{ user.allocated_to_date }}
          </dd>
          <dt>Expenses to date</dt>
          <dd class="text-warning">
            ${{ user.expenses_to_date }}
          </dd>
          <dt>Income to date</dt>
          <dd class="text-success">
            ${{ user.income_to_date }}
          </dd>
          <dt>Total</dt>
          <dd class="text-{{ 'success' if user.total_to_date > 0 else 'danger' }}">
            ${{ user.total_to_date }}
          </dd>
        </dl>
        <div class="col-md-12">
          <a href="{{ url_for('budget.view') }}"
                    class="btn btn-default btn-block">
            View Budget
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
