{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}

{% block title %}Budget history{% endblock %}

{% block body %}
  <h2>Budget history</h2>
  {% if budget.total == 0 %}
    <p>No budget found.</p>
  {% else %}
    <table class="table">
      <thead>
      <tr>
        <th>Account Number</th>
        <th>Budget Year</th>
        <th>Description</th>
        <th>Allocated</th>
        <th>Expense</th>
        <th>Income</th>
      </tr>
      </thead>
      <tbody>
      {% for b in budget.items %}
        <tr>
          <!--
          <td>{{ b.acct_num }}</td>
          <td>{{ b.budget_year }}</td>
          <td>{{ b.description }}</td>
          <td class="text-success">
            ${{ b.allocated_amount }}
          </td>
          <td class="text-warning">
            ${{ b.expenses_amount }}
          </td>
          <td class="text-success">
            ${{ b.income_amount }}
          </td>
          -->
          <td>{{ b.acct_num }}</td>
          <td>{{ b.budget_year }}</td>
          <td>{{ b.description }}</td>

          <td class="text-success" id='allocated_amount'></td>
          <script>
          function allocated() {
              var num = {{ b.allocated_amount }};
              var n = num.toFixed(2)
              document.getElementById("allocated_amount").innerHTML = '$' + n;
          }
          </script>
          <script>allocated();</script>

          <td class="text-warning" id='expenses_amount'>
          </td>
          <script>
          function expense() {
              var num = {{ b.expenses_amount }};
              var n = num.toFixed(2)
              document.getElementById("expenses_amount").innerHTML = '$' + n;
          }
          </script>
          <script>expense();</script>

          <td class="text-success" id='income_amount'>
          </td>
          <script>
          function income() {
              var num = {{ b.income_amount }};
              var n = num.toFixed(2)
              document.getElementById("income_amount").innerHTML = '$' + n;
          }
          </script>
          <script>income();</script>

        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="col-md-offset-7 pull-right">
    {% for u in user %}
      {% if u.role == 'admin' %}
          <h2>Current remain: <strong class="text-{{ 'success' if u.total_to_date > 0 else 'danger' }}" id='total_to_date'></strong></h2>
          <script>
          function total_d() {
              var num = {{ u.total_to_date }};
              var n = num.toFixed(2)
              document.getElementById("total_to_date").innerHTML = '$' + n;
          }
          </script>
          <script>total_d();</script>

      {% else %}
        <p>Allocated to date: <strong class="text-success" id='allocated_to_date'></strong></p>
        <script>
        function allocated_d() {
            var num = {{ u.allocated_to_date }};
            var n = num.toFixed(2)
            document.getElementById("allocated_to_date").innerHTML = '$' + n;
        }
        </script>
        <script>allocated_d();</script>

        <p>Expenses to date: <strong class="text-warning" id='expenses_to_date'></strong></p>
        <script>
        function expense_d() {
            var num = {{ u.expenses_to_date }};
            var n = num.toFixed(2)
            document.getElementById("expenses_to_date").innerHTML = '$' + n;
        }
        </script>
        <script>expense_d();</script>

        <p>Income to date: <strong class="text-success" id='income_to_date'></strong></p>
        <script>
        function income_d() {
            var num = {{ u.income_to_date }};
            var n = num.toFixed(2)
            document.getElementById("income_to_date").innerHTML = '$' + n;
        }
        </script>
        <script>income_d();</script>

        <h2>Current remain: <strong class="text-{{ 'success' if u.total_to_date > 0 else 'danger' }}" id='total_to_date'></strong></h2>
        <script>
        function total_d() {
            var num = {{ u.total_to_date }};
            var n = num.toFixed(2)
            document.getElementById("total_to_date").innerHTML = '$' + n;
        }
        </script>
        <script>total_d();</script>
      {% endif %}
    {% endfor %}
    </div>
    {{ items.paginate(budget) }}
  {% endif %}
  {% for u in user %}
    {% if u.role == 'admin' %}
      <hr/>
      <a href="{{ url_for('admin.users') }}" class="margin-top btn btn-primary">
        Go back
      </a>
    {% else %}
      <P></P>
    {% endif %}
  {% endfor %}
{% endblock %}
